table {
    border-collapse: separate;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

td, th {
    padding: 10px 15px;
    vertical-align: middle;
}

th:first-child {
    text-align: left;
}

/* TOP TABLE */
thead {
    padding: 10px 10px;
    background: purple;
    color: white;
    text-align: left;
}

tbody tr:nth-child(even) {
    background: #f0f0f2;
}

/**/
tbody tr:hover {
    background: lightgreen;
    color: black;
}

tfoot tr:hover {
    background: lightgreen;
    color: black;
}

caption {
    color: grey;
}


/* BORDER */
td {
    border-bottom: 2px solid lightblue;
    border-right: 2px solid lightblue;
}

/**/

td:first-child {
    border-left: 2px solid lightblue;
}

tfoot {
    padding: 20px 20px;
    background: lightblue;
    text-align: right;
}

tfoot tr:last-child {
    background: #f0f0f2;
}

.item-price {
    text-align: right;
}

